[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
prefect = "*"
prefect-aws = "*"
lxml = "*"
prefecto = ">=0.0.4"
polars = "*"
httpx = "*"
kaggle = ">=1.5.16"
prefect-slack = "*"

[dev-packages]
pipenv = "*"
pre-commit = "*"
flake8 = "*"
black = "*"
isort = {extras = ["pyproject"], version = "*"}
commitizen = "*"
prefect-github = "*"
pygit2 = "*"
python-dotenv = "*"
moto = ">=3.1.16"
prefecto = {extras = ["moto"], version = ">=0.0.3"}
prefect = {version = ">=0.0.3", extras = ["mock"]}
pytest = "*"

[requires]
python_version = "3.11"
