[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
prefect = ">=2.14.17"
prefect-aws = "*"
lxml = "*"
prefecto = ">=0.0.4"
polars = "*"
httpx = "*"
kaggle = ">=1.5.16"
prefect-slack = "*"
tabulate = "==0.9.0"

[dev-packages]
pipenv = "*"
pre-commit = "*"
flake8 = "*"
black = "*"
isort = {extras = ["pyproject"], version = "*"}
commitizen = "*"
pygit2 = "*"
python-dotenv = "*"
prefecto = {extras = ["moto"], version = ">=0.0.3"}
pytest = "*"
click = "*"
prefect-github = ">=0.2.2"
moto = {extras = ["s3"], version = "<5.0,>=3.1.16"}
mkdocs = "*"
mkdocs-material = "*"
neoteroi-mkdocs = "*"

[requires]
python_version = "3.11"

[scripts]
tests = "pytest tests/"
dataset-docs = "python src/scripts/docs.py"
